Repository cocotb/cocotb, pull requests merged in 2021-08, with the labels that each got.

#2660 Add start and start_soon scheduling functions
  cocotb/__init__.py
  cocotb/scheduler.py
  documentation/source/coroutines.rst
  documentation/source/library_reference.rst
  documentation/source/newsfragments/2660.feature.rst
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: type:feature, category:codebase:scheduler

#2514 Adds LogicArray type
  cocotb/types/__init__.py
  cocotb/types/logic.py
  cocotb/types/logic_array.py
  documentation/source/library_reference.rst
  documentation/source/newsfragments/2514.feature.rst
  tests/pytest/test_logic_array.py
Labels: type:feature

#2674 Add PyPi Trove classifier
  documentation/source/extensions.rst
  setup.py
Labels: category:docs, category:packaging

#2675 Add Python 3.10 to CI
  .github/workflows/regression-tests.yml
  CONTRIBUTING.md
  tox.ini
Labels: category:tests-ci

#2680 Update codecov's notify after_n_builds setting
  .codecov.yml
Labels: category:tests-ci

#2484 Load custom entry point in Python from the GPI
  cocotb/__init__.py
  cocotb/share/lib/embed/gpi_embed.cpp
  cocotb/share/lib/py_gpi_log/py_gpi_logging.cpp
  documentation/source/building.rst
  documentation/source/newsfragments/1225.feature.rst
  pygpi/__init__.py
  pygpi/entry.py
  tests/test_cases/test_custom_entry/.gitignore
  tests/test_cases/test_custom_entry/Makefile
  tests/test_cases/test_custom_entry/custom_entry.py
  tests/test_cases/test_custom_entry/expected_results.log
Labels: type:feature, category:codebase:gpi, category:codebase:pygpi
