Repository cocotb/cocotb, pull requests merged in 2021-07, with the labels that each got.

#2607 Docs: Fix references to coroutine and test decorators
  documentation/source/coroutines.rst
Labels: category:docs, type:cleanup

#2609 Add MINGW64 shell and packages to regression
  .github/workflows/regression-tests.yml
Labels: category:tests-ci

#2614 Add VHDL library support to Xcelium
  cocotb/share/makefiles/Makefile.sim
  cocotb/share/makefiles/simulators/Makefile.xcelium
  documentation/source/building.rst
  documentation/source/newsfragments/2614.feature.rst
  tests/test_cases/test_vhdl_libraries/Makefile
Labels: category:simulators:xcelium, type:feature
