Repository cocotb/cocotb, pull requests merged in 2023-10, with the labels that each got.

#3439 Fix incorrect comparison of generate region labels
  cocotb/share/lib/fli/FliImpl.cpp
  cocotb/share/lib/fli/FliImpl.h
  cocotb/share/lib/vhpi/VhpiCbHdl.cpp
  cocotb/share/lib/vhpi/VhpiImpl.cpp
  cocotb/share/lib/vhpi/VhpiImpl.h
  cocotb/share/lib/vpi/VpiCbHdl.cpp
  cocotb/share/lib/vpi/VpiImpl.cpp
  cocotb/share/lib/vpi/VpiImpl.h
  documentation/source/newsfragments/2255.bugfix.rst
  tests/test_cases/issue_2255/Makefile
  tests/test_cases/issue_2255/test.sv
  tests/test_cases/issue_2255/test.vhd
  tests/test_cases/issue_2255/test_issue2255.py
Labels: type:bug, category:codebase:gpi

#3425 Remove fork
  cocotb/__init__.py
  cocotb/scheduler.py
  cocotb/task.py
  cocotb/triggers.py
  documentation/source/coroutines.rst
  documentation/source/glossary.rst
  documentation/source/library_reference.rst
  documentation/source/newsfragments/3425.removal.rst
  documentation/source/release_notes.rst
  documentation/source/writing_testbenches.rst
  tests/test_cases/test_cocotb/Makefile
  tests/test_cases/test_cocotb/test_deprecated.py
  tests/test_cases/test_cocotb/test_scheduler.py
  tests/test_cases/test_cocotb/test_start_soon.py
Labels: type:cleanup, category:codebase:scheduler

#3457 Add graphviz package to doc build config
  .readthedocs.yml
  documentation/source/diagrams/svg/inheritance-cocotb.handle.svg
  documentation/source/library_reference.rst
Labels: type:bug, category:docs
