Repository cocotb/cocotb, pull requests merged in 2025-06, with the labels that each got.

#4726 Bump Sphinx to 8.2 to use new `py:decorator` role
  docs/requirements.txt
  docs/source/writing_testbenches.rst
Labels: type:feature, category:docs

#4741 Use short "a | b" syntax for Literal types in docs
  docs/source/conf.py
Labels: category:docs

#4749 Fix combine_results not finding results.xml files
  src/cocotb_tools/combine_results.py
Labels: type:bug, category:ci

#4719 Add timing model to docs
  docs/source/diagrams/svg/timing_model.svg
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/timing_model.rst
Labels: type:feature, category:docs

#4750 Use normal dict for inertial write cache
  src/cocotb/handle.py
Labels: category:performance

#4777 Add ability to get and set Task name
  docs/source/newsfragments/4777.feature.1.rst
  docs/source/newsfragments/4777.feature.rst
  src/cocotb/_test.py
  src/cocotb/regression.py
  src/cocotb/task.py
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: type:feature, category:codebase:tasks
