Repository cocotb/cocotb, pull requests merged in 2025-03, with the labels that each got.

#4531 make vpi vhpi sim end failed logs debug level
  src/cocotb/share/lib/vhpi/VhpiCbHdl.cpp
  src/cocotb/share/lib/vhpi/VhpiImpl.cpp
  src/cocotb/share/lib/vpi/VpiCbHdl.cpp
  src/cocotb/share/lib/vpi/VpiImpl.cpp
  src/cocotb/share/lib/vpi/VpiImpl.h
Labels: type:cleanup, category:codebase:gpi

#4535 documentation: install instructions with Guix.
  docs/source/install.rst
Labels: type:feature, category:docs

#4532 Fix converting log level to string.
  src/cocotb/share/lib/vhpi/VhpiImpl.h
  src/cocotb/share/lib/vpi/VpiImpl.h
Labels: type:bug, category:codebase:gpi

#4543 Use ValueError instead of OverflowError in sim objects
  docs/source/newsfragments/4543.change.rst
  docs/source/writing_testbenches.rst
  src/cocotb/handle.py
  tests/test_cases/test_cocotb/test_handle.py
  tests/test_cases/test_vhdl_zerovector/test_vhdl_zerovector.py
Labels: category:codebase:handle, type:change

#4547 Actually run these tests =/
  tests/test_cases/test_cocotb/test_handle.py
Labels: type:bug, category:ci

#4559 Introduce `EmptyTrigger` to replace some uses of `NullTrigger`
  docs/source/library_reference.rst
  docs/source/newsfragments/4559.feature.rst
  src/cocotb/_base_triggers.py
  src/cocotb/_extended_awaitables.py
  src/cocotb/triggers.py
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: type:feature, status:blocked, category:codebase:triggers

#4561 Deprecate Event name
  docs/source/newsfragments/4561.removal.rst
  src/cocotb/_base_triggers.py
  src/cocotb/queue.py
  tests/test_cases/test_cocotb/test_concurrency_primitives.py
  tests/test_cases/test_cocotb/test_deprecated.py
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: status:blocked, type:deprecation, category:codebase:triggers

#4549 Store current GPI trigger rather than just the "SimPhase"
  docs/source/library_reference.rst
  docs/source/newsfragments/4022.feature.rst
  docs/source/newsfragments/4549.feature.rst
  src/cocotb/__init__.py
  src/cocotb/_gpi_triggers.py
  src/cocotb/_scheduler.py
  src/cocotb/handle.py
  src/cocotb/regression.py
  src/cocotb/triggers.py
  tests/test_cases/test_cocotb/test_timing_triggers.py
Labels: type:change, category:codebase:triggers

#4558 Introduce `TaskStarted` to replace some uses of `NullTrigger`
  docs/source/library_reference.rst
  docs/source/newsfragments/4558.feature.rst
  src/cocotb/_test.py
  src/cocotb/task.py
  src/cocotb/triggers.py
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: type:feature, status:blocked, category:codebase:triggers

#4570 Switch private CI to Ubuntu 22.04
  .github/generate-envs.py
Labels: category:ci, type:task
