Repository cocotb/cocotb, pull requests merged in 2025-07, with the labels that each got.

#4788 Correct typing on cocotb.test decorator
  src/cocotb/_decorators.py
Labels: type:bug, category:typing

#4800 Add a badge for links that point to v1.9 docs
  docs/source/_static/cocotb.css
  docs/source/conf.py
  docs/source/newsfragments/3425.removal.rst
  docs/source/newsfragments/3547.removal.rst
  docs/source/newsfragments/3549.removal.rst
  docs/source/newsfragments/3609.removal.rst
  docs/source/newsfragments/3644.removal.rst
  docs/source/newsfragments/3969.removal.rst
  docs/source/release_notes.rst
Labels: category:docs

#4827 Remove dead link to DSim installation instructions
  docs/source/simulator_support.rst
Labels: category:docs, category:simulators:dsim
