Repository cocotb/cocotb, pull requests merged in 2025-08, with the labels that each got.

#4857 docs: Clarify test outcome with CancelledError
  docs/source/release_notes.rst
  docs/source/writing_testbenches.rst
Labels: category:docs

#4889 docs: Fix links and log formatter docstrings
  docs/source/library_reference.rst
  docs/source/newsfragments/4871.feature.rst
  docs/source/newsfragments/4871.removal.rst
  docs/source/newsfragments/4872.feature.rst
  src/cocotb/logging.py
Labels: category:docs, type:cleanup

#4884 Support copy on modeling types
  docs/source/newsfragments/4884.feature.1.rst
  docs/source/newsfragments/4884.feature.rst
  src/cocotb/types/_array.py
  src/cocotb/types/_logic.py
  src/cocotb/types/_logic_array.py
  src/cocotb/types/_range.py
  tests/pytest/test_array.py
  tests/pytest/test_logic.py
  tests/pytest/test_logic_array.py
  tests/pytest/test_range.py
Labels: type:feature, category:codebase:types

#4891 Undo rename of `COVERAGE_RCFILE`
  docs/source/building.rst
  docs/source/release_notes.rst
  src/cocotb/_init.py
  src/cocotb_tools/config.py
Labels: type:cleanup, category:codebase:project-automation

#4885 Specify minimum version of supported Icarus is 11.0
  .github/generate-envs.py
  docs/source/simulator_support.rst
Labels: category:docs, category:simulators, category:simulators:icarus

#4888 Add `Bit` back
  docs/source/library_reference.rst
  docs/source/release_notes.rst
  src/cocotb/types/__init__.py
  src/cocotb/types/_logic.py
  src/cocotb/types/_logic_array.py
  tests/pytest/test_logic.py
Labels: category:codebase:types

#4877 Update CI
  .github/generate-envs.py
  tests/test_cases/test_discovery/test_discovery.py
Labels: category:ci

#4898 Docs: small improvements
  docs/source/building.rst
  docs/source/library_reference.rst
  src/cocotb/__init__.py
  src/cocotb/_base_triggers.py
  src/cocotb/_extended_awaitables.py
  src/cocotb/handle.py
  src/cocotb/logging.py
  src/cocotb/types/_logic_array.py
Labels: category:docs

#4893 docs: Improve GPI public header documentation
  docs/source/library_reference_c.rst
  src/cocotb/share/include/gpi.h
Labels: category:docs, type:cleanup, category:codebase:gpi
