Repository cocotb/cocotb, pull requests merged in 2025-01, with the labels that each got.

#4329 Correct LANGUAGE in simple_dff
  examples/simple_dff/test_dff.py
Labels: category:docs

#4337 Check results file for failures in Makefile flow
  docs/source/newsfragments/4337.change.rst
  src/cocotb_tools/check_results.py
  src/cocotb_tools/combine_results.py
  src/cocotb_tools/makefiles/Makefile.inc
  src/cocotb_tools/makefiles/simulators/Makefile.activehdl
  src/cocotb_tools/makefiles/simulators/Makefile.ghdl
  src/cocotb_tools/makefiles/simulators/Makefile.icarus
  src/cocotb_tools/makefiles/simulators/Makefile.ius
  src/cocotb_tools/makefiles/simulators/Makefile.nvc
  src/cocotb_tools/makefiles/simulators/Makefile.questa
  src/cocotb_tools/makefiles/simulators/Makefile.riviera
  src/cocotb_tools/makefiles/simulators/Makefile.vcs
  src/cocotb_tools/makefiles/simulators/Makefile.verilator
  src/cocotb_tools/makefiles/simulators/Makefile.xcelium
  src/cocotb_tools/runner.py
Labels: type:feature, category:ci

#4330 Allow `KeyboardInterrupt` and `SystemExit` to bubble up
  docs/source/newsfragments/4330.change.rst
  src/cocotb/_scheduler.py
  src/cocotb/regression.py
  src/cocotb/task.py
  tests/test_cases/test_kill_sim/Makefile
  tests/test_cases/test_kill_sim/kill_sim_tests.py
Labels: type:feature, category:codebase:project-automation

#4339 Typing fixes
  src/cocotb/_decorators.py
  src/cocotb/_deprecation.py
  src/cocotb/_write_scheduler.py
  src/cocotb/clock.py
  src/cocotb/handle.py
  src/cocotb/logging.py
  src/cocotb/queue.py
  src/cocotb/regression.py
  src/cocotb/share/lib/simulator/simulatormodule.cpp
  src/cocotb/simulator.pyi
  src/cocotb/task.py
  src/cocotb/triggers.py
Labels: type:cleanup

#4341 Refactor `Join` into `TaskComplete`
  docs/source/library_reference.rst
  docs/source/newsfragments/4084.removal.rst
  docs/source/newsfragments/4341.change.rst
  docs/source/newsfragments/4341.feature.rst
  docs/source/release_notes.rst
  src/cocotb/__init__.py
  src/cocotb/_scheduler.py
  src/cocotb/task.py
  src/cocotb/triggers.py
  tests/test_cases/test_cocotb/test_deprecated.py
  tests/test_cases/test_cocotb/test_scheduler.py
Labels: type:feature, category:codebase:scheduler

#4353 docs: Clean up links on release notes and some docstring formatting
  docs/source/building.rst
  docs/source/library_reference.rst
  docs/source/newsfragments/3578.change.2.rst
  docs/source/newsfragments/3655.feature.1.rst
  docs/source/newsfragments/3733.feature.1.rst
  docs/source/newsfragments/3841.feature.rst
  docs/source/newsfragments/3873.feature.rst
  docs/source/newsfragments/3922.feature.rst
  docs/source/newsfragments/4189.removal.rst
  docs/source/newsfragments/4338.feature.rst
  src/cocotb/__init__.py
  src/cocotb/_decorators.py
  src/cocotb/triggers.py
  src/cocotb_tools/runner.py
Labels: category:docs, type:cleanup

#4356 Verilator: Update to latest release (v5.032) in CI
  .github/generate-envs.py
Labels: category:ci, category:simulators:verilator

#4373 Reword anachronistic sentence
  docs/source/coroutines.rst
Labels: category:docs

#4377 Fix docstring markup
  src/cocotb/handle.py
  src/cocotb/queue.py
  src/cocotb/types/__init__.py
  src/cocotb/types/logic_array.py
Labels: category:docs

#4376 Switch to Sphinx 8
  docs/requirements.txt
Labels: category:docs

#4370 Add cocotb-styled doc theme based on sphinx-book-theme+sphinx-design
  docs/requirements.txt
  docs/source/_static/cocotb-favicon.svg
  docs/source/_static/cocotb-logo-dark.svg
  docs/source/_static/cocotb-logo.svg
  docs/source/_static/cocotb.css
  docs/source/analog_model.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/custom_flows.rst
  docs/source/diagrams/svg/cocotb_overview.svg
  docs/source/diagrams/xml/cocotb_overview.xml
  docs/source/examples.rst
  docs/source/glossary.rst
  docs/source/install.rst
  docs/source/install_devel.rst
  noxfile.py
  src/cocotb/_decorators.py
  src/cocotb/clock.py
  src/cocotb/triggers.py
Labels: category:docs

#4369 Refactor `__init__.py`
  src/cocotb/__init__.py
  src/cocotb/_init.py
  src/cocotb/regression.py
  src/cocotb_tools/_coverage.py
  src/pygpi/entry.py
  tests/test_cases/test_select_testcase/Makefile
  tests/test_cases/test_select_testcase_error/Makefile
Labels: type:cleanup, category:codebase:pygpi

#4381 Reword some documentation
  docs/source/contributing.rst
  docs/source/library_reference.rst
  docs/source/quickstart.rst
  docs/source/support.rst
  docs/source/writing_testbenches.rst
  src/cocotb/_outcomes.py
  src/cocotb/clock.py
  src/cocotb/logging.py
  src/cocotb/triggers.py
  src/cocotb/types/array.py
  src/cocotb/types/logic_array.py
Labels: category:docs, type:cleanup

#4409 Handle passing no triggers to Combine and First
  docs/source/newsfragments/4409.bugfix.1.rst
  docs/source/newsfragments/4409.bugfix.rst
  src/cocotb/triggers.py
  tests/test_cases/test_cocotb/test_synchronization_primitives.py
Labels: type:bug, category:codebase:scheduler, backport-to:1.9

#1610 Fix handling of escaped identifiers containing dots
  docs/source/newsfragments/1610.bugfix.rst
  src/cocotb/handle.py
  tests/designs/sample_module/sample_module.sv
  tests/designs/sample_module/sample_module.vhdl
  tests/test_cases/issue_2255/test_issue2255.py
  tests/test_cases/test_array/test_array.py
  tests/test_cases/test_cocotb/test_handle.py
Labels: type:bug

#3391 String as define issue
  src/cocotb_tools/runner.py
  tests/designs/runner/runner.sv
  tests/designs/runner_defines/runner_defines.sv
  tests/pytest/test_runner.py
Labels: category:codebase:tests
